<p>Merhaba <%= @email %>, Gönderdiğiniz belgeler eksik veya yanlış olarak değerlendirilmiş ya da tam olarak okunamamıştır. 
Lütfen fotoğrafın düzgün çekildiğinden ve açıkça görüldüğünden emin olarak belgelerinizi tekrar gönderiniz</p>
<br>

<p>Hello <%= @email %>, The documents you submitted were incomplete, incorrectly evaluated or could not be read. 
Please resubmit your documents and ensure photo is taken within the frame and is clearly visible</p>
<br>

<%= link_to 'Tekrar Belge Yükle - Upload Document Again', @link %>