<p>Merhaba <%= @email %>, Turcoindex hesabınız ile ilgili bilgiler incelenmiş ve onaylanmıştır. Giriş yapmak için lütfen aşağıda yer alan butona ya da linke tıklayınız. </p>

<p>Hello <%= @email %>, Your Turcoindex account has been reviewed and approved. Please click the button or link below to sign in to your account.</p>

<%= link_to 'Giriş - Sign in', @signin_link %>