<p>Merhaba <%= @email %>, Turcoindex hesabınız ile ilgili bilgiler incelenmiş ve onaylanmıştır. Giriş yapmak için lütfen aşağıda yer alan butona ya da linke tıklayınız. </p>
<p>Lütfen aşağıdaki hususlara dikkat ediniz: </p>
<ul>
    <li>Şifrenizi kimseye söylemeyiniz ya da vermeyiniz</li>
    <li>Turcoindex destek biriminden olduğunu iddia eden ve size telefon numarası veren kimselere itibar etmeyiniz ve onları aramayınız</li>
    <li>Turcoindex ile bağlantısı olduğunu iddia eden kimselere hiçbir şekilde kirpto para ya da para göndermeyiniz</li>
    <li>Daha güvenilir bir şekilde işlem yapabilmek için Google İki Aşamalı Doğrulama'yı (2FA) etkinleştiriniz</li>
    <li><a href="www.turcoindex.com">www.turcoindex.com</a> internet adresine giriş yaptığınızdan emin olunuz</li>
</ul>
<p>Şüpheli durumlarda derhal info@turcoindex.com adresine yazınız.</p>
<br>

<p>Hello <%= @email %>, Your Turcoindex account has been reviewed and approved. Please click the button or link below to sign in to your account.</p>
<p>Please pay attention to following tips: </p>
<ul>
    <li>Do not tell or give your password to anyone</li>
    <li>Do not respect or call people who claim to be from Turcoindex support and who give you a phone number</li>
    <li>Do not send crypto currency or money to anyone who claims to have a connection with Turcoindex</li>
    <li>Enable Google Two Factor Authentication (2FA) to perform more reliably</li>
    <li>Be sure to sign in to <a>www.turcoindex.com</a></li>
</ul>
<p>In case of doubt, please write to info@turcoindex.com immediately.</p>
<br>

<%= link_to 'Giriş - Sign in', @link %>