<p>Merhaba <%= @email %>, Şifrenizi değiştirmek üzere bir bildirim aldık. Şifre değiştirme işlemini aşağıdaki butona ya da linke tıklayarak yapabilirsiniz. Şifre sıfırlama isteğinde bulunmadıysanız, lütfen bu e-postayı yok sayın. Bu link 24 saat içinde sona erecektir.</p>

<p>Hello <%= @email %>, Someone has requested you change your password. You can do this clicking on the button or link below. If you did not request this password reset, please feel free to ignore this email. This link will expire in 24 hours.</p>

<%= link_to 'Kilidi Aç - Unlock Account', @confirmation_link %>