<p>Merhaba <%= @email %>, Çok sayıda başarısız giriş denemesi nedeniyle hesabınız kilitlendi. Kilit açma işlemini aşağıdaki butona ya da linke tıklayarak yapabilirsiniz.</p>
<p>Lütfen aşağıdaki hususlara dikkat ediniz: </p>
<ul>
    <li>Şifrenizi kimseye söylemeyiniz ya da vermeyiniz</li>
    <li>Turcoindex destek biriminden olduğunu iddia eden ve size telefon numarası veren kimselere itibar etmeyiniz ve onları aramayınız</li>
    <li>Turcoindex ile bağlantısı olduğunu iddia eden kimselere hiçbir şekilde kirpto para ya da para göndermeyiniz</li>
    <li>Daha güvenilir bir şekilde işlem yapabilmek için Google İki Aşamalı Doğrulama'yı (2FA) etkinleştiriniz</li>
    <li><a href="www.turcoindex.com">www.turcoindex.com</a> internet adresine giriş yaptığınızdan emin olunuz</li>
</ul>
<p>Şüpheli durumlarda derhal info@turcoindex.com adresine yazınız.</p>
<br>

<p>Hello <%= @email %>, Your account has been locked due to an excessive number of unsuccessful login attempts. Please click the button or link below.</p>
<p>Lütfen aşağıdaki hususlara dikkat ediniz: </p>
<ul>
    <li>Şifrenizi kimseye söylemeyiniz ya da vermeyiniz</li>
    <li>Turcoindex destek biriminden olduğunu iddia eden ve size telefon numarası veren kimselere itibar etmeyiniz ve onları aramayınız</li>
    <li>Turcoindex ile bağlantısı olduğunu iddia eden kimselere hiçbir şekilde kirpto para ya da para göndermeyiniz</li>
    <li>Daha güvenilir bir şekilde işlem yapabilmek için Google İki Aşamalı Doğrulama'yı (2FA) etkinleştiriniz</li>
    <li><a href="www.turcoindex.com">www.turcoindex.com</a> internet adresine giriş yaptığınızdan emin olunuz</li>
</ul>
<p>Şüpheli durumlarda derhal info@turcoindex.com adresine yazınız.</p>
<br>

<%= link_to 'Kilidi Aç - Unlock Account', @confirmation_link %>