<p>Merhaba <%= @email %>, Çok sayıda başarısız giriş denemesi nedeniyle hesabınız kilitlendi. Kilit açma işlemini aşağıdaki butona ya da linke tıklayarak yapabilirsiniz.</p>

<p>Hello <%= @email %>, Your account has been locked due to an excessive number of unsuccessful login attempts. Please click the button or link below.</p>

<%= link_to 'Kilidi Aç - Unlock Account', @confirmation_link %>