<p>Merhaba  <%= @email %>, Turcoindex'e kayıt olduğunuz için teşekkür ederiz. Hesabınızı doğrulamak için lütfen aşağıda yer alan butona ya da linke tıklayınız.</p>

<p>Hello  <%= @email %>, Thank you for registering at Turcoindex. To verify your account, please click the button or link below.</p>

<%= link_to 'Hesabımı Şimdi Doğrula - Verify My Account', @confirmation_link %>
