<p>Merhaba  <%= @email %>, Turcoindex'e kayıt olduğunuz için teşekkür ederiz. Hesabınızı doğrulamak için lütfen aşağıda yer alan butona ya da linke tıklayınız.</p>
<p>Lütfen aşağıdaki hususlara dikkat ediniz: </p>
<ul>
    <li>Şifrenizi kimseye söylemeyiniz ya da vermeyiniz</li>
    <li>Turcoindex destek biriminden olduğunu iddia eden ve size telefon numarası veren kimselere itibar etmeyiniz ve onları aramayınız</li>
    <li>Turcoindex ile bağlantısı olduğunu iddia eden kimselere hiçbir şekilde kirpto para ya da para göndermeyiniz</li>
    <li>Daha güvenilir bir şekilde işlem yapabilmek için Google İki Aşamalı Doğrulama'yı (2FA) etkinleştiriniz</li>
    <li><a href="www.turcoindex.com">www.turcoindex.com</a> internet adresine giriş yaptığınızdan emin olunuz</li>
</ul>
<p>Şüpheli durumlarda derhal info@turcoindex.com adresine yazınız.</p>
<br>

<p>Hello  <%= @email %>, Thank you for registering at Turcoindex. To verify your account, please click the button or link below.</p>
<p>Lütfen aşağıdaki hususlara dikkat ediniz: </p>
<ul>
    <li>Şifrenizi kimseye söylemeyiniz ya da vermeyiniz</li>
    <li>Turcoindex destek biriminden olduğunu iddia eden ve size telefon numarası veren kimselere itibar etmeyiniz ve onları aramayınız</li>
    <li>Turcoindex ile bağlantısı olduğunu iddia eden kimselere hiçbir şekilde kirpto para ya da para göndermeyiniz</li>
    <li>Daha güvenilir bir şekilde işlem yapabilmek için Google İki Aşamalı Doğrulama'yı (2FA) etkinleştiriniz</li>
    <li><a href="www.turcoindex.com">www.turcoindex.com</a> internet adresine giriş yaptığınızdan emin olunuz</li>
</ul>
<p>Şüpheli durumlarda derhal info@turcoindex.com adresine yazınız.</p>
<br>

<%= link_to 'Hesabımı Şimdi Doğrula - Verify My Account', @confirmation_link %>


